@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Satisfy&display=swap');


.aboutmodule {
    width: 100%;
    background-color: transparent;
    flex-direction: column;
display: flex;
}

.aboutwrapper {
display: flex;
flex-direction: row;

height: auto;
}



.blurb {
width: 65%;
display: flex;
justify-content: center;
flex-direction: column;
text-align: center;
height: 70vh;
align-items: center;
font-family: "Quicksand", sans-serif;
color: black;
padding: 3rem;
margin-right: 1rem;
background-color:rgba(238, 174, 63, 0.75);
}

.blurb p b {
    font-size: 18px;
}


.skills {
width: 45%;
display: flex;
justify-content: center;
font-family: "Quicksand", sans-serif;
color: black;
text-align: center;
height: 70vh;
align-items: center;
padding:2rem;
background-color: rgba(105, 187, 219, 0.75)
}


@media screen and (max-width: 1920px) {}
@media screen and (max-width: 1700px) {}
@media screen and (max-width: 1440px) {}
@media screen and (max-width: 1280px) {}
@media screen and (max-width: 900px) {}
@media screen and (max-width: 480px) {
    .aboutwrapper {
        display: flex;
        flex-direction: column;

        }

        .blurb {
            width: 168%; 
            height: 53vh;
            position: absolute;
            left: -33%;
            top: -10%;
            font-size: 12px;
            padding: 1rem;
        }

        .blurb p b {
            font-size: 14px;
        }

        .skills {
            width: 168%; 
            position: absolute;
            font-size: 12px;
            height: auto;
            padding: 0.5rem;
            left: -33%;
            bottom:8%
        }

        .skills h2 {
            font-size: 18px;
            margin-bottom: -0.5rem;
        }
}