@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Satisfy&display=swap");

.aboutwrapper {
  display: flex;
  flex-direction: row;
  height: auto;
  align-items: center;
  justify-content: center;
}

.blurb {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 80vh;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  color: black;
  padding: 3rem;
  margin-right: 1rem;
  background-color: rgba(238, 174, 63, 0.9);
  border-radius: 10px;
}

.blurb p b {
  font-size: 22px;
}

.skills {
  width: 30%;
  display: flex;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  color: black;
  text-align: center;
  height: 80vh;
  align-items: center;
  padding: 2rem;
  background-color: rgba(105, 187, 219, 0.75);
  border-radius: 10px;
}

@media screen and (max-width: 1080px) {
  /* .aboutmodule {
    width: 160%;
    position: absolute;
    right: -34%;
    top: 10%;
  } */
  .aboutwrapper {
    width: 100%;
  }
  .skills {
    width: 35%;
  }
  .blurb {
    width: 55%;
  }
  .blurb p {
    font-size: 15px;
  }
  .blurb p b {
    font-size: 18px;
  }
}

@media screen and (max-width: 753px) {
  .aboutwrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* border: 10px solid blue; */
    justify-content: center;
  }
  .skills {
    width: 90%;
    height: 30vh;
    margin-top: 40px;
  }
  .blurb {
    width: 90%;
    height: 40vh;
  }
  .blurb p {
    font-size: 10px;
  }
  .blurb p b {
    font-size: 15px;
  }
  .skills p b {
    font-size: 15px;
  }
  .skills p {
    font-size: 10px;
  }
  .skills h2 {
    font-size: 18px;
  }
}
@media screen and (max-width: 480px) {
  .blurb p {
    font-size: 8px;
  }
  .blurb p b {
    font-size: 14px;
  }
  .skills p b {
    font-size: 14px;
  }
  .skills p {
    font-size: 9px;
  }
  .skills h2 {
    font-size: 15px;
  }
}
