@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;

  background-color: #ffff;
  background-image: url("https://www.transparenttextures.com/patterns/diamond-eyes.png");
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar {
  height: 7rem;
}

#nav-contents {
  width: 60vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#nav-link {
  font-size: 27px;
  color: #000000;
  cursor: pointer;
}

#nav-link:hover {
  color: #2093a5;
}

#modal-btn {
  background-color: transparent;
  font-size: 20px;
  width: 10rem;
  margin-right: 3rem;
}

a span {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

span .carousel-control-next-icon {
  display: none;
}

#icon-container {
  display: flex !important;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 480px) {
  #nav-contents {
    position: unset;
    left: 0%;
  }

  #homelink {
    left: 4%;
    font-size: 3rem;
  }

  #nav-link {
    font-size: 3rem;
  }
  body {
    width: 210vw;
  }
}
