@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  background-color: #ffff;
  background-image: url("https://www.transparenttextures.com/patterns/diamond-eyes.png");
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #2093a5;
}

* {
  box-sizing: border-box;
}
.navbar {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffff;
}

#navbarNav {
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  align-items: center;
}

#homelink {
  color: #000000;
  position: absolute;
  left: 2%;
  font-size: 30px;
  cursor: pointer;
}

#homelink:hover {
  color: #2093a5;
}

#navlink {
  color: #000000;
  cursor: pointer;
}

#navlink:hover {
  color: #2093a5;
}

#social-icons {
  width: 10rem;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
}

#modal-btn {
  background-color: transparent;
  font-size: 20px;
  width: 10rem;
  margin-right: 3rem;
}

a span {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

span .carousel-control-next-icon {
  display: none;
}

form {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 3rem;
  padding-bottom: 2em;
  align-items: center;
  width: 100%;
}

input {
  border-radius: 5px;
  width: 100%;
  height: 30px;
  margin-bottom: 1rem;
  font-family: "Quicksand";
}

textarea {
  border-radius: 5px;
  border: 2px solid black;
  width: 100%;
  font-family: "Quicksand";
}

#form-control {
  width: 90%;
  margin-bottom: 1rem;
}

#contact-btn {
  background-color: transparent;
  font-size: 20px;
  width: 10rem;
}

button:hover {
  background-color: #2093a5;
  color: #ffff;
  border: none;
  margin-top: 3px;
}


#icon-container {
  display: flex !important;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 480px) {
  form {
    width: 120%;
  }

  #homelink {
    left: 4%;
  }

  #social-icons {
    width: 8rem;
    margin-left: 1.3rem;
  }
}
