@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  background-color: #ffff;
background-image: url("https://www.transparenttextures.com/patterns/diamond-eyes.png");
}



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#navbarNav {
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  border-bottom: 2px;
}

#homelink {
  color: #000000;
  position: absolute;
  left: 2%;
  font-size: 30px;
  cursor: pointer
}

#homelink:hover {
  color: #2093A5;
}

#navlink {
  color: #000000;
  cursor: pointer
}

#navlink:hover {
  color: #2093A5;
}

#social-icons {
  margin-top: 0.5rem;
  width: 10rem;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
}

#modal-btn {
  background-color: transparent;
  font-size: 20px;
  width: 10rem;
  margin-right: 3rem;
}
#home-btn {
  background-color: transparent;
  font-size: 20px;
  width: 10rem;
  margin-right: 1rem;
}

#home-btn:hover {
  background-color: #2093A5;
  color: #ffff;
  border: none;
    font-style: italic;
}



a span {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

span .carousel-control-next-icon {
display: none;
}


form {
text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 3rem;
  padding-bottom: 2em;
  align-items: center;
  width: 100%;
}

input {
  width: 60%;
  height: 30px;
  margin-bottom: 3rem;
  font-family: "Quicksand"
}

textarea {
width: 60%;
font-family: "Quicksand"
}

#form-control {
  width:90%;
  margin-bottom: 1rem;
}

#contact-btn {
  background-color: transparent;
  font-size: 20px;
  width: 10rem;
}


#contact-btn:hover {
  background-color: #2093A5;
  color: #ffff;
  border: none;
  margin-top: 3px;
}

.hovertext {
  position: relative;
  font-size: 12px;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;

  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}

#icon-container {
  display: flex !important;
  justify-content: center;
  width: 100%
}