@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@500&family=Rock+Salt&family=Satisfy&family=Yellowtail&display=swap');


.container {
  display: flex;
  width: 100vw;
  height: auto;
  /* padding-left: 10rem auto; */
}

.rightsidehome {
  height: 100vh;
  width: 45vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 0;
  margin-left: 2rem;
}

.leftsidehome {
  height: 100vh;
  width: 55vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.homeimg {
  position: absolute;
  right: 8.4%;
  top: 21.6%;
  height: 52%;
  width: 22.5%;
  z-index: 4;
  transition-delay: 5s;
}

.imgshadowpink {
  z-index: 100;
  border: 3px solid black;
  background-color: pink;
  position: absolute;
  height: 37.4%;
  width: 22.5%;
  right: 8.4%;
  top: 36.3%;
  z-index: 3;
  outline-offset: 12px;
  outline: 5px dotted black;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
}

.imgshadoworange {
  z-index: 100;
  background-color: orange;
  position: absolute;
  height: 37.4%;
  width: 22.5%;
  right: 6.2%;
  top: 40%;
  z-index: 2;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}

.imgshadowteal {
  z-index: 100;
  background-color: #2093a5;
  position: absolute;
  height: 37.4%;
  width: 22.5%;
  right: 10.8%;
  z-index: 1;
  top: 32.5%;
  border-top: 3px solid black;
  border-left: 3px solid black;
}

.leftsidehome p {
  flex-direction: row;
  position: absolute;
  text-align: center;
  top: 35%;
  margin-left: 13%;
}
.leftsidehome h1 {
  font-size: 840%;
  font-family: 'Yellowtail', 'Brush Script MT';
  width: 130%;
  text-align: left;
}

.leftsidehome h1:hover {
  font-style: italic;
}

.leftsidehome h3 {
  margin-top: -1.5rem;
  margin-left: 1rem;
  font-size: 40px;
  font-family: "Quicksand", sans-serif;
  font-style: italic;
  width: 80%;
  text-align: left;
}

.homebtns {
  margin-left: 1.2rem;
  width: 100%;
  text-align: left;
  margin-top: 1rem;
  display: flex;
}

.modal {
  background-color: transparent;
  border-radius: 10px;
  width: 55%;
  height: 80%;
  position: relative;
  top: 10%;
  left: 22%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem;
}

.modalpositioning {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgcontainer {
  width: 70%;
  background-color: grey;
  opacity: 50%;
  display: flex;
}

@media screen and (max-width: 480px) {
  .leftsidehome p {
    position: relative;
    top: 120%;
    left: 48%;
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .homebtns {
    width: 100%;
    margin-left: 0.8rem;
    margin-top: 0.3rem;
    display: flex;
  }
  .container {
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 0vw;
    padding: 1rem;
  }
  .rightsidehome {
    height: 60%;
    width: 100vw;
    display: flex;
    align-items: center;
    z-index: 0;
    margin-left: 0rem;
  }
  .leftsidehome {
    height: 40%;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }

  .leftsidehome h1 {
    font-size: 300%;
    text-align: center;
    position: relative;
    left: -2%
  }

  .leftsidehome h3 {
    margin-top: -0.5rem;
    font-size: 130%;
    font-family: "Quicksand", sans-serif;
    width: 100%;
    position: relative;
    left: 4%
    /* margin-left: 0rem; */
  }

  .homeimg {
    position: absolute;
    left: 15.5%;
    top: 12.2%;
    height: 46%;
    width: 68.6%;
  }

  .imgshadowteal {
    height: 33%;
    width: 70.5%;
    left: 6.1%;
    top: 24.3%;
  }

  .imgshadoworange {
    height: 30.5%;
    width: 70.5%;
    left: 22.6%;
    top: 31.8%;
  }

  .imgshadowpink {
    height: 30.5%;
    width: 70%;
    left: 14.8%;
    top: 28%;
  }
}
