@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Satisfy&display=swap');

.container {
  display: flex;
  width: 100vw;
  height: auto;
  /* padding-left: 10rem auto; */
}

.rightsidehome {
  height: 100vh;
  width: 45vw;
  display: flex;
  align-items: center;
  z-index: 0;
  margin-left: 2rem;
}

.leftsidehome {
  height: 100vh;
  width: 55vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.homeimg {

  position: absolute;
  right: 8.4%;
  top: 21.6%;
  height: 52%;
  width: 22.5%;
  z-index: 4;
  transition-delay: 5s;

}

.imgshadowteal {
  position: relative;
  z-index: 100;
border: 3px solid black;
  background-color: pink;
  opacity: 100%;
  position: absolute;
  height: 37.4%;
  width: 22.5%;
  right: 8.4%;
  top: 36.3%;
  z-index: 3;
  outline-offset: 12px;
outline: 5px dotted black;
background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");

}

.imgshadoworange {
  position: relative;
  z-index: 100;
  margin-left: 15%;
  background-color: orange;
  opacity: 50%;
  position: absolute;
  height: 37.4%;
  width: 22.5%;
  right: 6.2%;
  top: 40%;
  z-index: 2;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}


.imgshadowpink {
  position: relative;
  z-index: 100;
  background-color: #2093a5;
  opacity: 90%;
  position: absolute;
  height: 37.4%;
  width: 22.5%;
  right: 10.8%;
  z-index: 1;
  top: 32.5%;
  border-top: 3px solid black;
  border-left: 3px solid black;
}

.leftsidehome p {
  flex-direction: row;
  position: absolute;
  text-align: center;
  top: 35%;
  margin-left: 13%;
}
.leftsidehome h1 {
  font-size: 850%;
  font-family: "Satisfy", sans-serif;
  width: 130%;
  text-align: left;
}

.leftsidehome h1:hover {
  font-style: italic;
}

.leftsidehome h3 {
  margin-top: -1rem;
  font-size: 40px;
  font-family: "Quicksand", sans-serif;
  font-style: italic;
  width: 80%;
  text-align: left;
}

.homebtns {
  width: 100%;
  text-align: left;
  margin-top: 1rem;
  display: flex;
}

.modal {
  background-color: transparent;
  border-radius: 10px;
  width: 55%;
  height: 80%;
  position: relative;
  top: 10%;
  left: 22%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem;
}

.modalpositioning {
  display: flex;
  justify-content: center;
  align-items: center;
}


 @media screen and (max-width: 480px) {
  .leftsidehome p {
    top: 75%;
/* margin-left: -1rem; */

  }
.container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 0vw
}
  .rightsidehome {
    height: 60%;
    width: 100vw;
    display: flex;
    align-items: center;
    z-index: 0;
    margin-left: 0rem;
  }
  .leftsidehome {
    height: 40%;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }

  .leftsidehome h1 {
    margin-left: 0;
    font-size: 300%;
    text-align: center
  }

  .leftsidehome h3 {
    margin-top: -0.5rem;
    font-size: 200%;
    font-family: "Quicksand", sans-serif;
    width: 100%;
  }

  .homeimg {
    /* margin-left: 15%; */
    position: absolute;
    /* left: 14%; */
    top: 23.6%;
    height: 46%;
    width: 80%;
    }

    .imgshadowteal {
      height: 33%;
      width: 80%;
      /* left: 29.5%; */
      top: 36.8%;
    }

    .imgshadoworange {
      height: 33.5%;
      width: 82.5%;
      /* left:23.5%; */
      top: 41.5%;
    }

    .imgshadowpink {
      height: 33.5%;
      width: 82.5%;
      /* left: 18%; */
      top: 32%;
    }
 }

