.imgcontainer {
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 45.5%;
  height: 100%;
  padding: 1rem;
  align-items: center;
}

.slider {
  height: 100%;
  display: flex;
  justify-content: center;
}

.rightarrow {
  position: absolute;
  top: 50%;
  right: 1%;
  font-size: 300%;
  color: #ffff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  z-index: 1;
}

.leftarrow {
  position: absolute;
  top: 50%;
  left: 1%;
  font-size: 300%;
  color: #ffff;
  z-index: 10;
  cursor: pointer;
  z-index: 1;
}

.header h1 {
  font-weight: bold;
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 40.6vw;
  background-color: rgba(105, 187, 219, 0.65);
  font-family: "Quicksand", sans-serif;
  font-size: 200%;
  z-index: 0;
  margin-bottom: 0.8rem;
}

.projectcontainer {
  height: 47%;
  width: 82%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.projecttitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40.6vw;
  background-color: rgba(255, 255, 255, 0.65);
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  z-index: 0;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.projecttitle p {
  font-size: 14px;
  margin-top: -2rem;
}

.projectdesc {
  margin-top: 1rem;
  justify-content: center;
  width: 40.6vw;
  height: auto;
  background-color: rgba(255, 255, 255, 0.65);
  font-family: "Quicksand", sans-serif;
  font-size: 100%;
  z-index: 0;
  padding: 1rem;
  text-align: center;
  margin-top: 0.5rem;
  min-height: 100px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.slidercontent {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dynamicdata {
  flex-direction: column;
  display: flex;
}

.viewapp a {
  font-size: 16px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

@media screen and (max-width: 1920px) {}
@media screen and (max-width: 1700px) {}
@media screen and (max-width: 1440px) {}
@media screen and (max-width: 1280px) {}
@media screen and (max-width: 900px) {}
@media screen and (max-width: 480px) {

  .rightarrow {
    right: -39%;
    font-size: 200%;
  }
  
  .leftarrow {
    left: -39%;
    font-size: 200%;
  } 

  .projectdesc {
    width: 84vw;
    height: auto;

  }

  .projecttitle {
  width: 84vw;
  /* margin-bottom: 1rem; */
  }

  .projectcontainer {
    width: 170%;
    /* margin-bottom: 1rem;  */
  }

  .header h1 {
    width: 84vw;
margin-top: 3rem;
  }
}