.imgcontainer {
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 45.5%;
  height: 100%;
  padding: 1rem;
  align-items: center;
}

.slider {
  height: 100%;
  display: flex;
  justify-content: center;
}

.rightarrow {
  position: absolute;
  top: 50%;
  right: 1%;
  font-size: 300%;
  color: #ffff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  z-index: 1;
}

.leftarrow {
  position: absolute;
  top: 50%;
  left: 1%;
  font-size: 300%;
  color: #ffff;
  z-index: 10;
  cursor: pointer;
  z-index: 1;
}

.header h1 {
  font-weight: bold;
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 40.6vw;
  background-color: rgba(105, 187, 219, 0.65);
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  z-index: 0;
  margin-bottom: 0.8rem;
  border-radius: 10px;
}

.projectcontainer {
  height: 47%;
  width: 82%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.projecttitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40.6vw;
  height: 5vh;
  background-color: rgba(255, 255, 255, 0.65);
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  z-index: 0;
  flex-direction: column;
  margin-bottom: 0.5rem;
  border-radius: 10px;
}

.projecttitle p {
  font-size: 14px;
  margin-top: -2rem;
}

.projectdesc {
  border-radius: 10px;
  margin-top: 1rem;
  justify-content: center;
  width: 40.6vw;
  height: auto;
  background-color: rgba(255, 255, 255, 0.65);
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  z-index: 0;
  padding-top: 0.6rem;
  text-align: center;
  margin-top: 0.5rem;
  min-height: 100px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.slidercontent {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dynamicdata {
  flex-direction: column;
  display: flex;
}

.viewapp a {
  margin-top: 1rem;
  font-size: 16px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

@media screen and (max-width: 1920px) {
  .projectdesc {
    width: 39vw;
  }

  .projecttitle {
    width: 39vw;
  }

  .header h1 {
    width: 39vw;
  }
}
@media screen and (max-width: 1700px) {
  .header h1 {
    margin-top: -6rem;
  }

  .projecttitle {
    margin-top: -3rem;
  }
}

@media screen and (max-width: 900px) {
  .rightarrow {
    right: -35%;
    font-size: 300%;
    top: 40%;
  }

  .leftarrow {
    left: -35%;
    font-size: 300%;
    top: 40%;
  }

  .projectdesc {
    width: 85vw;
  }

  .projecttitle {
    width: 85vw;
    margin-top: -3rem;
  }

  .projectcontainer {
    width: 170%;
  }

  .header h1 {
    width: 85vw;
    margin-top: -6rem;
  }
}
@media screen and (max-width: 480px) {
  .rightarrow {
    right: -39%;
    font-size: 200%;
  }

  .leftarrow {
    left: -39%;
    font-size: 200%;
  }

  .projectdesc {
    width: 84vw;
    height: auto;
    font-size: 12px;
  }

  .projecttitle {
    width: 84vw;
    margin-top: -4rem;
  }

  .projectcontainer {
    width: 170%;
  }

  .header h1 {
    width: 84vw;
    margin-top: -7rem;
  }

  .viewapp {
    margin-top: 0.4rem;
    font-size: 12px;
  }
}
